---
import Layout from '../layouts/Layout.astro';
import PersonGroup from '../components/people/PersonGroup.astro';
import { getAllEntriesOfContentType } from "../services/contentful";

const people = await getAllEntriesOfContentType('member');

---

<Layout title="DSSD GWU - People">
    <main class="pt-28">
      <PersonGroup title="Executive Team" people={people} filter={(person) => !person.fields.graduated && person.fields.role.localeCompare("Member") != 0} />
      <PersonGroup title="Members" people={people} filter={(person) => !person.fields.graduated && person.fields.role.localeCompare("Member") == 0} darker={true} hideRoles={true}/>
        <!-- to add alumni's later uncomment the following -->
        <!--  <PersonGroup title="Alumni" people={people} filter={(person) => person.fields.graduated} /> -->
    </main>
</Layout>
